{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'projecthasena/css/style.css' %}">
{% endblock %}


{% block title%} Homepage{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            {% include 'partials/_categories.html' %}
        </div>
        <div class="col-md-9">
            <hr>
            {% for blog in blogs %}
                {% if blog.is_home and blog.is_active %}
                    {% include 'hasenapp/projecthasena/partials/_blog.html' %}
                {% endif %}
            {% endfor %}
         
        </div>
    </div>
</div>

{% endblock %}

{% block js_files %} 
    <script src="{% static 'projecthasena/js/script.js' %}"></script>
{% endblock %}