{% load static %}
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class ="container">
            <a class ="navbar-brand" href="">HasenMugs</a>
            <ul class ="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blogs' %}">BEST SELLERS</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        <div class="row">
            <div class="col-9">
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3"></div>
                            <img src="{% static 'img/1.jpg' %}" alt="" class="img-fluid">
                        <div class="vol-md-9"></div>
                        <div class="card-body">
                            <h5 class="card-title">Strawberry Patterned Ceramic Mug</h5>
                            <p class="card-text">Handmade-strawberry mug. (Varnished after painting with acrylic / only hand wash)</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3"></div>
                            <img src="{% static 'img/2.jpg' %}" alt="" class="img-fluid">
                        <div class="vol-md-9"></div>
                        <div class="card-body">
                            <h5 class="card-title">3D Rabbit Patterned Ceramic Mug</h5>
                            <p class="card-text">Handmade- rabbit mug. (Varnished after painting with acrylic, hand wash)</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3"></div>
                            <img src="{% static 'img/3.jpg' %}" alt="" class="img-fluid">
                        <div class="vol-md-9"></div>
                        <div class="card-body">
                            <h5 class="card-title">Rabbit Patterned Ceramic Mug</h5>
                            <p class="card-text">Handmade-rabbit patterned mug. (Varnished after painting with acrylic,hand wash)</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3"></div>
                            <img src="{% static 'img/4.jpg' %}" alt="" class="img-fluid">
                        <div class="vol-md-9"></div>
                        <div class="card-body">
                            <h5 class="card-title">Fox Patterned Ceramic Mug</h5>
                            <p class="card-text">Handmade-fox mug. (Varnished after painting with acrylic, hand wash)</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3"></div>
                            <img src="{% static 'img/5.jpg' %}" alt="" class="img-fluid">
                        <div class="vol-md-9"></div>
                        <div class="card-body">
                            <h5 class="card-title">3D Rabbit Patterned Pink Ceramic Mug</h5>
                            <p class="card-text">Handmade-rabbit mug. (Varnished after painting with acrylic, hand wash)</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3"></div>
                            <img src="{% static 'img/6.jpg' %}" alt="" class="img-fluid">
                        <div class="vol-md-9"></div>
                        <div class="card-body">
                            <h5 class="card-title">White Cat Patterned Ceramic Mug</h5>
                            <p class="card-text">Handmade-white (Ankara) cat patterned mug. (Varnished after painting with acrylic, hand wash)</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3"></div>
                            <img src="{% static 'img/7.jpg' %}" alt="" class="img-fluid">
                        <div class="vol-md-9"></div>
                        <div class="card-body">
                            <h5 class="card-title">Cat Patterned Ceramic Mug</h5>
                            <p class="card-text">Handmade-Istanbul cat patterned mug. (Varnished after painting with acrylic, hand wash)</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3"></div>
                            <img src="{% static 'img/8.jpg' %}" alt="" class="img-fluid">
                        <div class="vol-md-9"></div>
                        <div class="card-body">
                            <h5 class="card-title">Grey Cat Patterned Ceramic Mug</h5>
                            <p class="card-text">Handmade-Hasen's cat patterned mug. (Varnished after painting with acrylic, hand wash)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

